{
    "ROP_cooldown": 3000,
    "ROP_factor": 0.707,
    "ROP_patience": 8000,
    "ROP_thr_mode": "rel",
    "ROP_threshold": 0.001,
    "activation": "gelu",
    "adam_epsilon": 1.28946630896042e-07,
    "aux_loss_coeff": 0,
    "aux_loss_type": null,
    "background_set_runfile_path": "fair_retrieval/resources/msmarco_fair.background_run.txt",
    "bias_regul_coeff": 0.0,
    "bias_regul_cutoff": 100,
    "boost_factor": 1.2217071730607665,
    "boost_relevant": "constant",
    "collection_memmap_dir": "./data/collection_memmap",
    "collection_neutrality_path": null,
    "comment": "Smooth labels, learnable inv.temperature, real boost factor controlled with option, top10 inj, reciprocal NN config r67, CODER canonical config IZc training (TAS-B encoder, TAS-B embeddings, TAS-B neg/candidates, no decoder, listnet loss)",
    "config_filepath": null,
    "cuda_ids": [
        0
    ],
    "d_model": null,
    "data_num_workers": 0,
    "debug": false,
    "diff_function": "maxmargin",
    "dim_feedforward": 966,
    "dropout": 0.1,
    "embedding_memmap_dir": "/users/anonym/data/MS_MARCO/TAS-B/representations/doc_embeddings_memmap",
    "encoder_delay": 0,
    "encoder_learning_rate": 1.7306177116476083e-06,
    "encoder_warmup_steps": 9000,
    "eval_candidates_path": "/users/anonym/data/MS_MARCO/TAS-B/preprocessed/tasb_top1000.in_qrels.dev_memmap",
    "eval_include_at_level": 1,
    "eval_limit_size": 10000,
    "eval_query_ids": null,
    "eval_query_tokens_path": "/users/anonym/data/MS_MARCO/TAS-B/preprocessed",
    "eval_relevant_at_level": 1,
    "experiment_name": "AUTO_RNNr67_CODER-TASB-IZc_rboost1.222_norm-maxmin_top4",
    "final_lr_ratio": 0.01,
    "grad_accum_steps": 1,
    "gt_factor": 2.0,
    "gt_function": null,
    "include_at_level": 0.1,
    "inject_ground_truth": true,
    "key_metric": "MRR@10",
    "label_normalization": "maxmin",
    "learning_rate": 1.7306177116476083e-06,
    "load_collection_to_memory": true,
    "load_model_path": null,
    "logging_steps": 300,
    "loss_type": "listnet",
    "max_doc_length": 256,
    "max_grad_norm": 1.0,
    "max_inj_relevant": 4,
    "max_query_length": 32,
    "metrics_k": 10,
    "model_type": "mdstransformer",
    "no_dec_crossatten": true,
    "no_decoder": true,
    "no_timestamp": false,
    "normalization_layer": "LayerNorm",
    "num_candidates": null,
    "num_epochs": 15,
    "num_heads": 16,
    "num_keep": 1,
    "num_keep_best": 1,
    "num_layers": 1,
    "num_random_neg": 0,
    "num_tiers": 4,
    "optimizer": "RAdam",
    "output_dir": "/gpfs/data/anonym/anonym/RecipNN/smooth_labels/TrainingExperiments/",
    "override": null,
    "per_gpu_eval_batch_size": 32,
    "per_gpu_train_batch_size": 32,
    "pos_encoding": "none",
    "qrels_path": "/users/anonym/data/MS_MARCO/",
    "query_aggregation": "first",
    "query_emb_memmap_dir": "repbert/representations/doc_embedding",
    "query_encoder_config": null,
    "query_encoder_from": "sebastian-hofstaetter/distilbert-dot-tas_b-b256-msmarco",
    "raw_collection_path": null,
    "raw_queries_path": null,
    "records_file": "/users/anonym/data/anonym/RecipNN/MSMARCO_training_records.xls",
    "reduce_on_plateau": "loss",
    "relevance_labels_mapping": null,
    "relevant_at_level": 0.1,
    "resume": false,
    "save_steps": 2000,
    "scoring_mode": "dot_product",
    "seed": 42,
    "selfatten_mode": 3,
    "target_scores_path": "/users/anonym/data/anonym/RecipNN/smooth_labels/label_files/boost1_TASB_smooth_labels_tasb_top1000.in_qrels.train_top300_labels.pickle",
    "task": "train",
    "temperature": "learnable",
    "tier_distance": null,
    "tier_size": 50,
    "tokenized_path": "/users/anonym/data/MS_MARCO/TAS-B/preprocessed",
    "tokenizer_from": null,
    "train_candidates_path": "/users/anonym/data/MS_MARCO/TAS-B/preprocessed/tasb_top1000.in_qrels.train_memmap",
    "train_limit_size": null,
    "train_query_ids": null,
    "validation_steps": 2000,
    "warmup_steps": 9000,
    "weight_decay": 9.495145000681325e-05,
    "write_predictions": "pickle"
}